{% block subject %}SN - Réinitialisation de votre mot de passe{% endblock %}

{% block body %}
    Hello {{ username }},

    Vous avez fait un demande de changement de mail ?
    Cliquez sur ce lien : <a href="{{ request_link }}">link</a> pour accéder au formulaire de réinitialisation.

    Attention ce lien n'est valide que 15 minutes. Ce délai passé, une autre demande devra être effectuée.
{% endblock %}